In [1463]:
import pandas as pd

In [1464]:
loan_data=pd.read_json("C:\\Users\\SHYAM\\loan_data.json")

In [1465]:
loan_data.head()

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y

In [1479]:
loan_data['Income'].unique()

array(['medium', 'low', 'high'], dtype=object)

In [1480]:
loan_data['Dependents'].replace('3+','3',inplace=True)

loan_data

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y
...,...,...,...,...,...,...,...,...,...,...
506,LP002978,Female,No,0,Graduate,No,1,Rural,low,Y
507,LP002979,Male,Yes,3,Graduate,No,1,Rural,medium,Y
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y
510,LP002990,Female,No,0,Graduate,Yes,0,Semiurban,medium,N

In [1481]:
loan_data['Dependents']=pd.to_numeric(loan_data['Dependents'])

In [1486]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Application_ID      511 non-null    object
 1   Gender              511 non-null    object
 2   Married             511 non-null    object
 3   Dependents          511 non-null    int64
 4   Education           511 non-null    object
 5   Self_Employed       511 non-null    object
 6   Credit_History      511 non-null    int64
 7   Property_Area       511 non-null    object
 8   Income              511 non-null    object
 9   Application_Status  511 non-null    object
dtypes: int64(2), object(8)
memory usage: 40.0+ KB

In [1487]:
loan_data.Credit_History.sum()

431

In [1488]:
loan_data.isna().sum()

Application_ID        0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
Credit_History        0
Property_Area         0
Income                0
Application_Status    0
dtype: int64

In [1489]:

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import tree

from sklearn.metrics import accuracy_score
import seaborn as sn

In [1490]:
loan_data.head()

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y

In [1491]:
loan_data.drop(['Application_ID'],axis=1,inplace=True)

In [1492]:
loan_data

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,Male,No,0,Graduate,No,1,Urban,medium,Y
1,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,Male,No,0,Graduate,No,1,Urban,medium,Y
...,...,...,...,...,...,...,...,...,...
506,Female,No,0,Graduate,No,1,Rural,low,Y
507,Male,Yes,3,Graduate,No,1,Rural,medium,Y
508,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,Male,Yes,2,Graduate,No,1,Urban,medium,Y
510,Female,No,0,Graduate,Yes,0,Semiurban,medium,N

In [1493]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              511 non-null    object
 1   Married             511 non-null    object
 2   Dependents          511 non-null    int64
 3   Education           511 non-null    object
 4   Self_Employed       511 non-null    object
 5   Credit_History      511 non-null    int64
 6   Property_Area       511 non-null    object
 7   Income              511 non-null    object
 8   Application_Status  511 non-null    object
dtypes: int64(2), object(7)
memory usage: 36.1+ KB

### coulms which is object type  need to coverted in numeric with the help of Label_Encoder()

In [1494]:
label_Encoder_cols=['Gender','Married','Education','Self_Employed','Property_Area','Income','Application_Status']

In [1495]:
loan_data[label_Encoder_cols]=loan_data[label_Encoder_cols].apply(LabelEncoder().fit_transform)

In [1496]:
loan_data.head()

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,1,0,0,0,0,1,2,2,1
1,1,1,1,0,0,1,0,2,0
2,1,1,0,0,1,1,2,1,1
3,1,1,0,1,0,1,2,1,1
4,1,0,0,0,0,1,2,2,1

In [1497]:
X=loan_data.drop(['Application_Status'],axis=1)

Y=loan_data['Application_Status']

In [1498]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,train_size=0.8)

### model1 :RandomForestClassifier()

In [1499]:
model1=RandomForestClassifier()

model1.fit(x_train,y_train)

y_predict=model1.predict(x_test)

m1=accuracy_score(y_test,y_predict)

### model2:Support Vector Classifier

In [1500]:
model2=SVC()

model2.fit(x_train,y_train)
m2=accuracy_score(y_test,model2.predict(x_test))

### model3: DecisionTreesClassifier

In [1501]:

model3=tree.DecisionTreeClassifier()
model3.fit(x_train,y_train)
m3=accuracy_score(y_test,model3.predict(x_test))

In [1503]:
m1

0.7961165048543689

In [1504]:
m2

0.8737864077669902

In [1505]:
m3

0.7669902912621359

### model2:(Support vector Classifier) is giving maximum accuracy

In [1507]:
x=(1,2,3,4,5)

In [1508]:
x[:-1]

(1, 2, 3, 4)

In [1510]:
x[0:4]

(1, 2, 3, 4)